.nav-link-custom {
  color: #6c757d !important; /* gris Bootstrap */
}

.nav-link-custom.active {
  background-color: #0d6efd;
  color: #ffffff !important; /* negro */
}
.nav-link-custom.active:hover {
  background-color: #0d6efd;
  color: #ffffff !important; /* negro */
}
